/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles if needed */
html, body, input, h1 {
    transition: background-color 0.3s, color 0.3s;
}

@layer base {
  :root {
    --chart-1: 220 70% 50%;
    --chart-2: 340 75% 55%;
  }
}
